@import './constants.css';

.raised-button {
    -fx-background-color: -primary;
    -fx-text-fill: white;
    -fx-background-radius: 32;
    -fx-font: "Segoe UI";
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 8, 0, 0, 1);
}
.raised-button:disabled {
    -fx-background-color: -disable-bg;
    -fx-text-fill: -disable-text;
    -fx-effect: none;
}

.flat-button {
    -fx-text-fill: -primary;
    -fx-background-radius: 32;
    -fx-font: "Segoe UI";
    -fx-font-size: 18;
    -fx-font-weight: bold;
}