@import './constants.css';

.table-view {
    -fx-background-color: transparent
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -primary;
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0 0 0 0;

}


.table-row-cell {
    -fx-background-color: #fff;
    -fx-text-fill: -primary;
    -fx-cell-size: 50;
    -fx-font-size: 12;
    -fx-padding: 0 0 0 10;
    -fx-font-weight: 500;
}

.table-row-cell:selected {
    -fx-background-color: #32A05F;
        -fx-text-fill: #fff;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}
